<p style="color:@(server.IsOnline?"green":"red")">
    @server.Name is in @server.City is @(server.IsOnline?"Online":"Offline")
</p>

@code {
    private Server server = new Server { Name = "NIC", City = "Raipur" };
}
