@page "/servers/{id:int}"
@using ServerManagement.Components.Widgets.Generic

@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" ConfirmExternalNavigation="true"/>

    <h3>Edit Server</h3>

    @if (server != null)
    {
        <EditForm Model="server" FormName="formServer" OnValidSubmit="Submit">

            @* Allows to validate model based field validations *@
            <DataAnnotationsValidator />

            @* Disply validation summary *@
            <ValidationSummary />

            <InputNumber @bind-Value="server.ServerId" hidden></InputNumber>

            <InputText @bind-Value="server.Name"></InputText>
            <ValidationMessage For="() => server.Name" />

            @* <InputText @bind-Value="server.City"></InputText>
        <ValidationMessage For="() => server.City" /> *@

            @* templated components to create generic components *@
            <FieldWidget Label="Name">
                <Control>
                    <InputText @bind-Value="server.City"></InputText>
                </Control>
                <ValidationControl>
                    <ValidationMessage For="() => server.City" />
                </ValidationControl>
            </FieldWidget>


            <InputCheckbox @bind-Value="server.IsOnline"></InputCheckbox>

            <button class="btn btn-primary m-1" type="submit">Update</button>

            <a href="/servers" class="text-decoration-none">Close</a>
        </EditForm>
    }

@code {

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm(FormName = "formServer")]
    private Server? server { get; set; }

    // lifecycle method
    protected override void OnParametersSet()
    {
        // if server is null or first time loaded, then only run this fetch.
        server = server ?? ServerRepo.GetServerById(this.Id);
    }

    private void Submit()
    {
        // update server
        if (server != null)
        {
            ServerRepo.UpdateServer(server.ServerId, server);
        }

        NavManager.NavigateTo("/servers");
    }

    // This function will trigger only if Routing is Interactive.
    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var isConfirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to leave this page");
        if (!isConfirmed)
        {
            context.PreventNavigation();
        }

    }

}
