@page "/servers"
@rendermode InteractiveServer
@inject NavigationManager NavManager
@inject RaipurOnlineServerStore RaipurOnlineServerStore



<h3><img src="@($"/images/server.png")" height="50" /> Servers</h3>
<hr />

<CityListWidget @ref="cityListWidget"  SelectCityCallback="HandleCitySelection" />

<hr />

<SearchServerWidget @ref="searchServerWidget" SearchServerCallback="HandleSearchFilter" myattribute="my-data"/>

<hr />

 @* Passses the data to all the child *@
<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListWidget @rendermode="InteractiveServer" CityName="@selectedCity" SearchFilter="@searchFilter"/>
</CascadingValue>

<a href="/server" class="btn btn-outline-info">Add Server</a>

@code {
    private string selectedCity = "Raipur";
    private string searchFilter = "";
    private CityListWidget? cityListWidget;
    private SearchServerWidget? searchServerWidget;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // Check we are initializing only one time
        if (RendererInfo.IsInteractive)
        {
            var serverRaipur = ServerRepo.GetServersByCity("Raipur");
            RaipurOnlineServerStore.SetNumberOfServerOnline(serverRaipur.Count(x=>x.IsOnline));
        }
    }

    private void HandleServerSearchFilterChange(ChangeEventArgs args)
    {
        // this.searchFilter = args.Value?.ToString() ?? string.Empty;
    }

    private void HandleSearchFilter(string searchFilter)
    {
        this.searchFilter = searchFilter;
        cityListWidget?.ClearSelection();

    }

    private void HandleCitySelection(string cityName)
    {
        this.searchFilter = string.Empty;
        searchServerWidget?.ClearFilter();
        selectedCity = cityName;
    }  

}
